<div class="coffee_shop">
	<h3><%=coffee_shop.name %></h3>
		<hr>
			<%= image_tag coffee_shop.image_url.to_s, height: "200", width: "250" %>
		<br>
	<br>
		<% if logged_in %>
			<% if is_favorite == false %>
				<div class="favorite_button">
					<%= form_with url: favorite_path(coffee_shop.yelp_id), method: :post, multipart: true do |form| %>
						<%= button_tag(type: 'submit', class: "btn btn-outline-secondary", title: "Favorite") do %>
							<i class="fas fa-star"></i>
						<% end %>
					<% end %>
				</div>
			<% else %>
				<div class="remove_favorite_button">
					<%= form_with url: favorite_path(coffee_shop.yelp_id), method: :delete, multipart: true do |form| %>
						<%= button_tag(type: 'submit', class: "btn btn-outline-secondary", title: "Remove Favorite") do %>
							<i class="fas fa-minus-circle"></i>
						<% end %>
					<% end %>
				</div>
			<% end %>
		<% end %>
	<br>
		<p>Rating: <%= coffee_shop.rating %></p>
		<p>Location: <%= coffee_shop.formatted_location %></p>
		<p>View on Yelp: <%= link_to "#{coffee_shop.name}", coffee_shop.url %></p>
		<p>Phone: <%= coffee_shop.phone %></p>
	<hr>
</div>
